/bootstrap/compiled.php
/vendor
node_modules/
public/css/main.css
public/js/master.js

composer.phar
composer.lock
.idea
.sass-cache
.env.*.php
.env.php
.DS_Store
Thumbs.db
coverage

*.sqlite

app/database/production.sqlite
